# Server Configuration
PORT=8080

# Database Configuration
DATABASE_URL=postgres://postgres:password@localhost:5432/lyrify_dev?sslmode=disable

# Example for production with SSL:
# DATABASE_URL=postgres://user:pass@db.example.com:5432/lyrify_prod?sslmode=require
